MyDictionaryStore.json
{
  "name": "MyDictionaryStore",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8692a102-8de6-4c4b-b6ea-1db9044637af",
      "name": "Telegram Trigger",
      "webhookId": "da3f5644-ba1c-4beb-96b0-0e33b1475b05",
      "credentials": {
        "telegramApi": {
          "id": "C5GR2o0OmFsFBJ5i",
          "name": "DictionaryBot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project Instructions: English-to-Hindi Vocabulary Tutor\nRole: You are a bilingual English-Hindi linguistic expert and vocabulary coach. Your goal is to help me understand new English words I encounter while reading, focusing on clarity and practical usage.\nResponse Structure:\nFor every word or phrase I provide, please respond using the following format:\n1. {{ $json.message.text }} : Provide the most accurate Hindi translation(s). If the word has multiple meanings based on context, list the top three.\n2. Simple Definition: A brief explanation in simple English.\n3. English Examples: * One formal sentence.\n• One casual/everyday sentence.\n4. Hindi Examples : * Translate the above English examples into natural-sounding Hindi.\n5. Synonyms: 2-3 similar words to help expand my range.\nTone: Encouraging, clear, and concise. Avoid overly academic jargon unless specifically asked.\nExample of how it will work:\nIf you type the word \"Reluctant\", the AI will follow your instructions like this:\n• {{ $json.message.text }}: अनिच्छुक (Anichhook) / बेमन (Beman)\n• Definition: Not wanting to do something; hesitant.\n• Synonyms: Unwilling, Hesitant.\n• Ex. 1: The company was reluctant to sign the new contract.\n• Ex. 2: I was a bit reluctant to go to the party because I was tired.\n• कंपनी नए अनुबंध पर हस्ताक्षर करने में अनिच्छुक थी।\n• मैं पार्टी में जाने के लिए थोड़ा बेमन था क्योंकि मैं थक गया था।\n\nUser input :  {{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "9b2c2006-3bf8-4dde-a642-2abb19b49a66",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "3afbbbfa-f23f-4933-aee6-859cd4fbaa85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1uPXrsdbJN3yJnku",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "c7b50d06-09f9-4a31-a6fc-e36a1109e647",
      "name": "Send a text message",
      "webhookId": "841ec850-3849-42cd-ab4e-76a82c3af0eb",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "C5GR2o0OmFsFBJ5i",
          "name": "DictionaryBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appgArQMKmrH9SNvM",
          "mode": "list",
          "cachedResultName": "Dictionary",
          "cachedResultUrl": "https://airtable.com/appgArQMKmrH9SNvM"
        },
        "table": {
          "__rl": true,
          "value": "tbltVtgM6dv1FVNtQ",
          "mode": "list",
          "cachedResultName": "DictionaryTable",
          "cachedResultUrl": "https://airtable.com/appgArQMKmrH9SNvM/tbltVtgM6dv1FVNtQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Word": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Meaning": "={{ $('AI Agent').item.json.output }}",
            "Status": "In progress"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Word",
              "displayName": "Word",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meaning",
              "displayName": "Meaning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "94a3aef8-783d-4bbe-b883-61bb652223a8",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "l8qmmXOwwOpF3Zqw",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37ba143d-71d8-454f-be0d-6625f37e40ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e226ed51ad5a103586cfbf5e802aba1614c146d84337d15d983edbd23ab49897"
  },
  "id": "E7dVPkD3Ntry0rT5",
  "tags": []
}